h1 {
  font-family: serif;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

h2{
  font-size: 30px;
  text-align: center;
}

.text {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0.90;
}

.card {
  background-image: url('https://images.unsplash.com/photo-1620146095812-813e2de733b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  height: 150px;
  width: 250px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin-top: 10px;
}

#banner {
  background-image: url('https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  height: 400px;
  padding: 200px;
  opacity: 0.50;
}

.container{
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer{
  background-color: black;
  height: 100px;
}
